# ==========================================
# Pastas e arquivos de Build (WPF e API)
# ==========================================
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# ==========================================
# Arquivos do Visual Studio e IDEs
# ==========================================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# ==========================================
# Credenciais e Segredos (Específico do seu projeto)
# ==========================================
# Ignora a chave do banco em qualquer pasta
**/firebase-adminsdk.json
chave_Banco/

# Ignora configurações locais que possam ter senhas de banco de dados
appsettings.Development.json
appsettings.*.json

# ==========================================
# Outros arquivos temporários do sistema
# ==========================================
.DS_Store
Thumbs.db
